[submodule "entangler/hardware/Library/RP2350"]
	path = entangler/hardware/Library/RP2350
	url = https://github.com/HDR/RP2350_KiCad.git
[submodule "entangler/entangler-common/ui/libraries/sleek-ui"]
	path = entangler/entangler-common/ui/libraries/sleek-ui
	url = https://github.com/uAtomicBoolean/sleek-ui.git
[submodule "wio-l1/lib/uf2"]
	path = wio-l1/lib/uf2
	url = https://github.com/microsoft/uf2.git
